@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@300;500;600;700&display=swap");
/* Hero */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@300;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@300;500&display=swap");
.about__container {
  padding: 2em 0;
  margin-top: 5em;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: white;
}

.about__subhead {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.about__subdesc {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.02em;
  text-align: left;
  color: white;
}

.events {
  padding: 2em 0;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: white;
}

.card__title {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.card__desc {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.02em;
  text-align: left;
  color: white;
}

.closing-rem {
  padding: 2em 0;
}

.closing__head {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.closing__description {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.02em;
  text-align: left;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .side-navbar {
    padding: 2em 1em;
  }
}
@media only screen and (max-width: 768px) {
  .side-navbar {
    padding: 2em 1em;
  }
  .card-container .card-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .card-container.flex {
    flex-wrap: wrap;
  }
}
.site-container {
  background-image: url(assets/images/bodybg.png);
  background-size: 100% auto;
  padding-right: 7em;
  background-repeat: repeat;
}

.side-navbar {
  padding: 2em 3em;
}
@media only screen and (max-width: 1024px) {
  .side-navbar {
    padding: 2em 1em;
  }
}

/* About Banner */
.about__head {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.about__desc {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.02em;
  text-align: left;
  color: white;
}

.hero__about-img {
  width: 100%;
}

/* end of About Banner */
/* Team */
.team__head {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.team__desc {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.02em;
  text-align: left;
  color: white;
}

.card__img {
  width: 350px;
  height: 220px;
}

.card-wrap {
  width: 30%;
}

.card-container.flex {
  width: 100%;
  justify-content: space-evenly;
}

/* end of Team*/
/* Testimonial */
.quotes__desc {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.01em;
  text-align: left;
  color: white;
}

.quotes__desc--l {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.01em;
  text-align: left;
  color: white;
}

.quotes__name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-align: left;
  color: white;
  margin: 0px;
}

.quotes__icon-rt {
  float: right;
}

.row-wrap.col-center-items {
  padding: 2em;
}

.testimonial__img {
  width: 100%;
  height: 80%;
  border-radius: 20px;
}

/* end of Testimonial */
/* Closing */
.closing {
  margin-top: 20px;
}

.closing__desc {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #292929;
}

.closing__contents {
  background-color: white;
  padding: 4em 2em;
  border-radius: 10px;
  width: 60%;
}

.closing {
  background-image: url(assets/images/closingbg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

section#footer {
  display: flex;
  justify-content: start;
  align-items: end;
  width: 20%;
  padding: 0 20px;
}

.footer__credits {
  color: white;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.03em;
  text-align: left;
}

.closing.flex {
  margin-bottom: 5em;
}

/* end of Closing */
@media only screen and (max-width: 768px) {
  .side-navbar.row-wrap-xsm {
    width: 5%;
    padding: 0em;
  }
  .site-container {
    padding: 2em;
  }
  .body-container.row-wrap-l {
    width: 90%;
    margin-top: 5em;
  }
  #footer {
    display: none !important;
  }
  /* Testimonial */
  .testimonial__img {
    height: 100%;
  }
  .quotes__desc {
    font-size: 15px;
    line-height: 30px;
  }
  /* end of Testimonial */
  /* Closing */
  .closing {
    display: flex;
    flex-direction: column-reverse;
  }
  .closing .row-wrap {
    width: 100%;
  }
  .closing__contents {
    width: 100%;
  }
  p.footer__credits.mb {
    display: block;
  }
  /* end of closing */
}
@media only screen and (max-width: 425px) {
  .card-wrap {
    width: 100%;
  }
  .card-container.flex {
    flex-direction: column;
  }
  .quotes {
    display: flex;
    flex-direction: column-reverse;
  }
  .quotes .row-wrap.pd-sm {
    width: 100%;
  }
  .quotes .row-wrap.center-items {
    width: 100%;
  }
  .closing__desc {
    font-size: 20px;
    line-height: 22px;
  }
}
@font-face {
  font-family: "AirFactoryRounded";
  src: url("./assets/fonts/AirFactoryRounded.ttf");
}
@font-face {
  font-family: "AirFactoryRounded";
  src: url("../fonts/AirFactoryRounded.ttf");
}
button.btn.btn-light {
  display: none;
}
@media only screen and (max-width: 768px) {
  button.btn.btn-light {
    display: block;
    position: absolute;
    width: 50px;
    top: 73px;
    right: 10px;
  }
}
@media only screen and (max-width: 425px) {
  button.btn.btn-light {
    top: 60px;
  }
}

.offcanvas-header {
  padding-top: 5em;
}

.offcanvas-md {
  width: 50%;
}

header {
  width: 100%;
  font-family: "AirFactoryRounded", Serif;
  font-size: 27px;
}
header .site-icon {
  height: auto;
  max-width: 250px;
}
header .site-title {
  margin: 0;
  padding: 0;
}
header .site-branding {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
header nav {
  width: 100%;
}
header nav ul, header nav li {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.04em;
  text-align: left;
}
header nav ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
header nav a:visited {
  color: white;
}
@media only screen and (max-width: 768px) {
  header nav a:visited {
    color: black;
  }
}
header nav li {
  display: flex;
  list-style-type: none;
  border-color: transparent;
  padding: 10px;
}
header nav li > a {
  text-decoration: none;
  padding: 2px;
}

header#masthead {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: white;
}
@media only screen and (max-width: 768px) {
  header#masthead {
    padding: 1em 2em;
    border-style: none;
  }
}
@media only screen and (max-width: 425px) {
  header#masthead {
    padding: 0em 1em;
  }
}

.site-branding {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .site-branding {
    width: 90%;
  }
}

.hamburger-menu {
  width: 50%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .hamburger-menu {
    width: 10%;
  }
}

.nav__logo {
  width: auto;
  height: 90px;
}
@media only screen and (max-width: 425px) {
  .nav__logo {
    height: 60px;
  }
}

@media only screen and (max-width: 768px) {
  div#primary-menu {
    display: none;
  }
}

.navigation-burger {
  padding: 0px;
}
.navigation-burger li {
  padding: 10px;
  list-style: none;
}
.navigation-burger li:hover {
  padding: 10px;
  list-style: none;
  background-color: black;
  color: white;
}
.navigation-burger a:hover {
  color: white;
}
.navigation-burger ul {
  flex-direction: column;
  align-items: center;
  margin: 0px;
}
@media only screen and (max-width: 768px) {
  .navigation-burger ul {
    align-items: start;
  }
}
.navigation-burger a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .main-navigation {
    display: none;
  }
}

.footer-section {
  padding: 1em 7em 1em 7em;
  margin-bottom: -40px;
}

.footer-wrap {
  width: 100%;
}

.footer-section__col1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.footer-section__co2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
}

.footer-icon {
  height: auto;
  max-width: 200px;
}

.info-footer {
  font-size: 25px;
}

hr.solid-line {
  border-top: 0.5px solid #bbb;
}

.copy-right {
  font-family: "AirFactoryRounded", sans-serif;
  text-align: center;
}

.footer__navigation {
  padding: 0px;
}
.footer__navigation li {
  display: flex;
  list-style-type: none;
  border-color: transparent;
  color: white;
}
.footer__navigation ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: start;
  margin: 0px;
  padding: 30px 0px 30px 0px;
  text-align: right;
}
.footer__navigation a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .footer-section__col1 {
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
  .footer-wrap.flex {
    display: flex;
    flex-direction: column;
  }
  .footer__navigation {
    padding: 0px;
  }
  .footer__navigation li {
    display: flex;
    list-style-type: none;
    border-color: transparent;
    color: white;
    padding: 10px;
  }
  .footer__navigation ul {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 30px;
         column-gap: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer__navigation a {
    color: white;
    text-decoration: none;
  }
  .footer__credits {
    text-align: center;
  }
}
/* ====================================================================================================================== */
/*                                                    CLASSES                                                             */
/* ====================================================================================================================== */
.container {
  padding: 2em 0;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: white;
}

.ln-sm {
  border: 0.5px solid white;
  background-color: white;
  opacity: 1;
  width: 15%;
}

.post, .page {
  margin: 0px !important;
}

.flex {
  display: flex;
}

.center-items {
  display: flex;
  justify-content: center;
}

.col-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.col-center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-display-start {
  display: flex;
  align-items: center;
  justify-content: start;
}

.display-start-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.events-list-wrap {
  width: 20%;
}

.col-sec {
  padding: 7em;
}

.row-wrap {
  width: 50%;
}

.pd-sm {
  padding: 2em;
}

.row-wrap-xsm {
  width: 20%;
}

.row-wrap-xl {
  width: 100%;
}

.row-wrap-l {
  width: 60%;
}

.mb-txt-cr {
  text-align: center;
}

.row-wrap-mb {
  width: 100%;
}

.mb {
  display: none;
}/*# sourceMappingURL=style.css.map */